<body id="search-body">

	<div class="search-content">
	<h1 class="search-title">&#36;pare &#162;hange</h1>

	<p>Enter your amount to see what you could buy</p>
		<%= form_tag("/search", method: "get") do %>
			<%= number_field_tag(:amount) %> <br>
			<%= submit_tag("Search", class: "search-button")%>
		<% end %>
	</div>

</body>

