<body id="search-body">

	<div class="search-content">
	<h1 class="search-title"><span class="title-letter">&#36;</span>pare <span class="title-letter">&#162;</span>hange</h1>

	<p class="search-text">Enter Your Amount To See What You Could Buy</p>
		<%= form_tag("/search", method: "get") do %>
			<%= number_field_tag(:amount, nil, class: "amount-input", min: 0, placeholder: "amount", required: true) %> <br>
			<%= submit_tag("Search", class: "search-button")%>
		<% end %>
	</div>

</body>

