<div class="search-content">
	<h1 class="search-title">&#36;pare &#162;hange</h1>

	<p>Enter your amount to see what you could buy</p>
		<%= form_tag("/search", method: "get") do %>
			<%= number_field_tag(:amount) %> <br>
			<%= submit_tag("Search")%>
		<% end %>
</div>

<footer class="search-footer">
  <p>&#169; 2017 JLM</p>
</footer>


