// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
	display: none;
}

.jumbotron {
	background-color: #85bb65 !important;
}

.display-3 {
	color: #ffd700 !important;
}

.lead {
	color: white;
}

.card-header {
	background-color: #85bb65 !important;
	color: #ffd700;
}

.card {
	border: 1px solid #85bb65 !important;
}

.button-holder {
	text-align: center;
}

.more-button {
	margin: 30px auto;
	background-color: #ffd700;
	color: white;
	width: 60%;
}

.search-again-button {
	margin: 30px auto;
	background-color: #85bb65;
	color: white;
	width: 60%;
}