// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-body {
  background: url(piggy-bank.jpg) no-repeat center center fixed; 
  background-size: 100% 100%;
  font-family: 'Comfortaa', cursive;
}

.search-content {
  text-align: center;
}

.search-button {
	display: inline-block;
	width: 20%;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.search-button:hover {background-color: #3e8e41}

.search-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}